################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/console.txt
/config.json
/.vs/ServerLauncherBot/v16/.suo
